body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
    background-color: hsl(0, 0%, 90%);
}
#display{

width: 100%;
padding: 10px;
font-size: 3rem;
text-align: left;

background-color: hsl(0, 0%, 20%);
color: white;
border: none;
}

#container{
    max-width: 350px;
    overflow: hidden;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 15px;
    
    background-color: hsl(0, 0%, 15%);
}






#keys{
    display: grid;
   grid-template-columns: repeat(4,1fr);
    gap: 10px;
    padding: 25px;

}
    button{
    height: 70px;
    width: 70px;
    border-radius: 50px;
    border: none;
    font-size: 1.7em;
  
    background-color: hsl(0, 0%, 30%);
    font-weight: bold;
    color: white;
    cursor: pointer;

}
button:hover{
    background-color:hsl(0, 0%, 40%) ;
}
button:active{
    background-color:hsl(0, 0%, 50%) ;
}
.operatorbtn{
    background-color: hsl(35, 100%, 55%);
}
.operatorbtn:hover{
    background-color: hsl(35, 100%, 65%);
}
.operatorbtn:active{
    background-color:hsl(35, 100%, 65%) ;
}